<li class="row">
  <div class="col-md-12">
    <div class="song_align">
    <h4><%= snippet.title %></h4>
    <p>
      <%= snippet.description %>
    </p>
  </div>

  </div>
  <div class="col-md-12">
    <div class="song_align">
    <% if snippet.song.present? %>
   
      <div class="row">
        <div class="col-md-12">
          <audio controls="controls">
            Your browser does not support the <code>audio</code> element.
            <source src="<%= snippet.song.file %>" type="audio/wav">
          </audio>
        </div>
      <div>
        <div class="col-md-12">
    <div class="comments">
      <% if snippet.comments.present? %>
      <h4>Comments</h4>
        <% snippet.comments.each do |comment| %>
          <%= comment.text %>
        </br>
          <%= link_to(comment.user.profile.name, profile_path(comment.user.profile)) %>
              <% if can? :destroy, Comment %>
                  <%= link_to('Delete Comment', comment, :method => :delete, :confirm => 'Are you sure?') %>
              <% end %>
        <% end %>
      </br>
      <% end %>
    </div>
  </div>
    <% end %>
  </div>
  </div>
  
  
  <div class="col-md-12">
      <div class="controls_buttons">
      <% if can? :update, Snippet %>
        <%= link_to('Edit Snippet - ', edit_snippet_path(snippet))  %>
      <% end %> 
      <%= link_to('Comment Snippet', new_comment_path(snippet_id: snippet.id)) %>
      <%= link_to(' - Delete Snippet', snippet, :method => :delete, :confirm => 'Are you sure?') %>
      </div>
  </div>
</li>