<%= image_tag(current_user.photo) %>
  <h1>
    <%= current_user.name %>
  </h1
  <h1>
    <%= current_user.city %>
  </h1>
  <h1>
    <%= current_user.inspirations %>
  </h1>
  <h1>
    <%= current_user.instruments %>
  </h1>

  <h1>
    <%= current_user.name %>
  </h1>


USER SNIPPETS
USER SONGS
